* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Verdana", sans-serif;
    background: linear-gradient(to right, #232526, #414345); /* Gradient tła */
    color: #f7f7f7;
}

.header {
    background-color: #616161;
    color: #d4e157;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #424242;
    color: #cddc39;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.menu li:hover {
    background-color: #616161;
}

.aside {
    background-color: #424242;
    padding: 15px;
    color: #cddc39;
    text-align: center;
    font-size: 14px;
}

.footer {
    background-color: #616161;
    color: #d4e157;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
}
