#container {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Wyśrodkowuje zawartość */
    align-items: start;
    gap: 20px; /* Dodaje odstęp między mapą a board */
    margin-top: 20px;
  }
  
  #map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  #rasterMap {
    margin-top: 5px;
    width: 300px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  #board {
    margin-top: 1px;
    width: 300px;
    height: 140px;
    margin-bottom: 1px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  #puzzle-elements {
    display: grid;
    width: 600px;
    height: 76px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    /* flex-direction: row;
    justify-content: flex-start; */
  }
  
  .row {
    display: flex;
    height: 35px;
    width: 100%;
  }
  
  .puzzleSolve {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 75px;
    height: 35px;
  }
  
  #successMessage {
    text-align: center;
    font-size: 1.2em;
    color: green;
    margin-top: 20px;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  